<launch>
  <arg name="camera_name" />
  <arg name="timeshift_cam_imu"   default="0" />

  <node name="ze_vio_ceres" pkg="ze_vio_ceres" type="ze_vio_ceres_node"
    output="screen" required="true"
    args="

    --data_source=2  # rostopic
    --vio_use_events=1
    --vio_use_events_and_images=0
    --vio_rescale_intrinsics_for_distortion=true

    ################ SET PARAMETERS ###########################
    # Calibration file
    # when using camera imu and no ir filter 'DVXplorer.yaml'
    # when using camera imu and ir filter 'DVXplorer-ir.yaml'
    # when using autopilot imu and ir filter 'DVXplorer-ir-autopiloto'
    --calib_filename=$(find ze_vio_ceres)/../../calibration/DVXplorer-ir.yaml
    
    # IMU calibration file
    # when using camera imu 'dvx_imu_parameters'
    # when using autopilot imu 'autopiloto_imu_parameters'
    --flagfile=$(find ze_vio_ceres)/cfg/dvx_imu_parameters.conf

    # USLAM parameters
    # f we want to use only one parameter 'dvx_parameters.yaml'
    # f we want to do a parameters study 'dvx_parameters_study.yaml'
    --flagfile=$(find ze_vio_ceres)/cfg/dvx_parameters_study.conf
    ############################################################

    --timeshift_cam_imu=$(arg timeshift_cam_imu) 
    --flagfile=$(find ze_vio_ceres)/cfg/vio_base.conf

    "
  />

  <node name="tf_static_vicon_origin_to_map_origin_node" 
    pkg="ze_vio_ceres"
    type="tf_static_vicon_origin_to_map_origin.py"
    output="screen" args=""
  />  

  <include file="$(find ze_vio_ceres)/launch/f550_tfs.launch"/>

  <include file="$(find ze_vio_ceres)/launch/tf_static_map_origin_to_odom.launch"/>

  <node name="visualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find ze_visualization)/rviz/ze.rviz" />

</launch>