<launch>
  <arg name="camera_name" />
  <arg name="timeshift_cam_imu"   default="0" />
  <arg name="motion_correction"   default="1" />
  <arg name="frame_size"   default="15000" />

  <node name="ze_vio_ceres" pkg="ze_vio_ceres" type="ze_vio_ceres_node"
    output="screen" required="true"
    args="

    --data_source=2  # rostopic
    --vio_use_events=1
    --vio_use_events_and_images=0
    --vio_rescale_intrinsics_for_distortion=true

    --calib_filename=$(find ze_vio_ceres)/../../calibration/DVXplorer.yaml
    --timeshift_cam_imu=$(arg timeshift_cam_imu)    

    --flagfile=$(find ze_vio_ceres)/cfg/vio_base.conf
    --flagfile=$(find ze_vio_ceres)/cfg/dvx_imu_parameters.conf
    --flagfile=$(find ze_vio_ceres)/cfg/dvx_parameters.conf

    --vio_do_motion_correction=$(arg motion_correction)

    --vio_frame_size=$(arg frame_size)  # each event frame will be drawn with that number of events

    ">
  </node>

  <node name="visualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find ze_visualization)/rviz/ze.rviz" />

</launch>
